*{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(43, 43, 43);
}

#input-field{
    width: 50vw;
    height: 10vh;
    margin: 50px;
    padding: 5px;
    resize: none;
    overflow: hidden;
    font-size: xx-large;
    visibility: hidden;
}

#open-input{

    font-size: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6rem;
}

#submit-button{
    width: 200px;
    margin-right: 40px;
    border-width: 2px;
    border-radius: 2px;
}

#search-button{
    width: 200px;
    border-width: 2px;
    border-radius: 2px;
}

#search-reset-button{
    visibility: hidden;
}

#confirm-edit-button{
    visibility: hidden;
    margin-left: 40px;
    border-width: 2px;
    border-radius: 2px;
}

#entry-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

p{
    font-family: Roboto;
    font-size: xx-large;
    color: white;
}

.delete-button{
    font-size: 30px;
    border-width: 2px;
    border-radius: 2px;
}

.edit-button{
    font-size: 30px;
    border-width: 2px;
    border-radius: 2px;
    margin-right: 10px;
}


.note-div{
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button{
    font-family: Roboto;
    font-size: xx-large;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}